# Editors
project.xml
project.properties
/nbproject/private/
.buildpath
.project
.settings*
.idea
*.sublime-project
*.sublime-workspace
.sublimelinterrc

# Gulp / Build
/build/
/node_modules/
/release/
npm-debug.log

# Testing
.phpunit.result.cache

# Logs
/logs

# Composer
/vendor/
contributors.md

# Packages
/packages/*
!/packages/README.md

/yarn-error.log
assets/.DS_Store
assets/css/.DS_Store

./DS_Store
./Popup-Maker.code-workspace 
