<?xml version="1.0"?>
<ruleset name="WordPress Coding Standards for Plugin">
	<description>Sniffs for WordPress plugins</description>

	<file>.</file>
	<!-- Exclude these -->
	<exclude-pattern type="relative">bin/*</exclude-pattern>
	<exclude-pattern type="relative">build/*</exclude-pattern>
	<exclude-pattern type="relative">dist/*</exclude-pattern>
	<exclude-pattern type="relative">vendor/*</exclude-pattern>
	<exclude-pattern type="relative">vendor-prefixed/*</exclude-pattern>
	<exclude-pattern type="relative">tests/*</exclude-pattern>

	<arg name="extensions" value="php"/>
	<!-- Show progress and sniff codes in all reports -->
	<arg value="ps"/>

	<!-- https://github.com/PHPCompatibility/PHPCompatibility#sniffing-your-code-for-compatibility-with-specific-php-versions -->
	<config name="testVersion" value="7.4-" />
	<!-- https://github.com/WordPress-Coding-Standards/WordPress-Coding-Standards/wiki/Customizable-sniff-properties -->
	<config name="minimum_supported_wp_version" value="6.2"/>
	<config name="text_domain" value="popup-maker, default" />

	<rule ref="CodeAtlantic" />

	<rule ref="PHPCompatibility">
		<exclude-pattern>bin/*</exclude-pattern>
		<exclude-pattern>tests/*</exclude-pattern>
	</rule>

	<rule ref="WordPress.NamingConventions.ValidVariableName">
		<exclude-pattern>bin/*</exclude-pattern>
		<exclude-pattern>tests/*</exclude-pattern>
	</rule>

	<rule ref="Squiz.Commenting.FunctionComment">
		<exclude-pattern>bin/*</exclude-pattern>
		<exclude-pattern>tests/*</exclude-pattern>
	</rule>

	<!-- Force short syntax arrays. -->
	<rule ref="CodeAtlantic">
		<rule ref="Universal.Arrays.DisallowLongArraySyntax"/>
		<exclude name="Universal.Arrays.DisallowShortArraySyntax" />
	</rule>

	<!-- Temporary due to usage of CONSTANT like names for core variables. -->
	<rule ref="WordPress.NamingConventions.ValidVariableName.PropertyNotSnakeCase">
		<!-- <exclude-pattern>*</exclude-pattern> -->
	</rule>

	<!-- Allow PSR file name & class names. -->
	<rule ref="WordPress.Files.FileName.NotHyphenatedLowercase">
		<!-- <exclude-pattern>*</exclude-pattern> -->
	</rule>

	<rule ref="WordPress.Files.FileName.InvalidClassFileName">
		<!-- <exclude-pattern>*</exclude-pattern> -->
	</rule>

	<rule ref="WordPress-Core">
		<!-- <exclude name="WordPress.Files.FileName.InvalidClassFileName" />
		<exclude name="WordPress.Files.FileName.NotHyphenatedLowercase" /> -->
	</rule>

	<rule ref="WordPress">
		<!-- <exclude name="WordPress.Files.FileName" /> -->
		<!-- <exclude name="WordPress.Files.FileName.InvalidClassFileName" />
		<exclude name="WordPress.Files.FileName.NotHyphenatedLowercase" />
		<exclude name="WordPress.NamingConventions.ValidVariableName" />
		<exclude name="WordPress.WP.I18n.NonSingularStringLiteralText" />
		<exclude name="WordPress.PHP.NoSilencedErrors.Discouraged" />
		<exclude name="WordPress.PHP.DisallowShortTernary.Found" /> -->
	</rule>

	<!-- Enforce space before closing parenthesis -->
	<!-- <rule ref="Squiz.Functions.FunctionDeclarationArgumentSpacing.SpacingBeforeClose">
		<severity>5</severity>
	</rule> -->
</ruleset>