includes:
    - vendor/szepeviktor/phpstan-wordpress/extension.neon
parameters:
    level: 6
    paths:
        - classes/
        - includes/
        - templates/
        - popup-maker.php
        - uninstall.php
    scanDirectories:
        - bin/
        - classes/
        - includes/
        - templates/
    scanFiles:
        - popup-maker.php
        - uninstall.php
    bootstrapFiles:
        - bin/phpstan-bootstrap.php
    stubFiles:
        - bin/stubs/elementor.php
        - bin/stubs/query-monitor.php
    excludePaths:
        - tests/
    dynamicConstantNames:
        - 'IS_WPCOM'
        - 'WP_CLI'
    ignoreErrors: