html,
body.pum-builder-preview {
	min-height: 100%;
}

body.pum-builder-preview {
	margin: 0;
	min-height: 100vh;
	overflow: auto;

	&.pum-overlay-disabled {
		background: transparent !important;
	}

	.pum {
		display: block !important;
		opacity: 1 !important;
		overflow: auto !important;
		visibility: visible !important;

		&.pum-overlay-disabled {
			background: transparent !important;
		}
	}

	.pum-container,
	.pum-close {
		display: block !important;
		opacity: 1 !important;
		visibility: visible !important;
	}

	.pum-close {
		pointer-events: none !important;
	}

	.pum-builder-canvas-area.pum-content {
		&:focus {
			outline: none;
		}

		> :first-child {
			margin-top: 0;
		}

		> :last-child {
			margin-bottom: 0;
		}

		&.pum-scrollable {
			overflow: auto;
			overflow-y: scroll;
			max-height: 95%;
		}
	}
}
