$gap: 16px;
$gap2: $gap * 2;
$gap3: $gap * 3;
$gap4: $gap * 4;

.call-to-action-editor-modal {
	max-width: 36rem;
	width: 100%;
	min-height: 65vh;
	max-height: 85%;
	margin: 8vh auto auto;

	/** Modal Styles */
	.components-modal__content {
		margin-top: $gap4;
		margin-bottom: $gap4;
		padding: $gap;
		overflow-y: scroll;

		&::-webkit-scrollbar {
			-webkit-appearance: none;
			width: 7px;
		}

		&::-webkit-scrollbar-thumb {
			border-radius: 4px;
			background-color: rgba(0, 0, 0, 0.5);
			-webkit-box-shadow: 0 0 1px rgba(255, 255, 255, 0.5);
		}
	}

	.components-modal__header {
		height: $gap4;
		padding: 0 $gap;
		border-bottom: 1px solid #c3c4c7;

		.components-modal__header-heading-container {
			line-clamp: 1;
			margin-right: 125px;
			display: -webkit-box;
			-webkit-box-orient: vertical;
			-webkit-line-clamp: 4;
			overflow: hidden;

			h1 {
				overflow: hidden;
				max-width: 100%;
				text-overflow: ellipsis;
				width: fit-content;
				white-space: nowrap;
			}
		}
	}

	.call-to-action-enabled-toggle {
		.components-h-stack {
			direction: rtl;
		}

		&.disabled label {
			color: #a30000;
		}

		&.enabled label {
			color: #00a32a;
		}
	}
}

.call-to-action-editor {

	+.modal-actions,
	+.editor-actions {
		position: absolute;
		height: $gap4;
		box-sizing: border-box;
		display: flex;
		justify-content: right;
		gap: $gap;
		padding: 0 $gap2;
		align-items: center;
		bottom: 0;
		left: 0;
		right: 0;
		border-top: 1px solid #c3c4c7;

		.cancel-button {
			// padding-left: $gap;
			// padding-right: $gap;
		}

		> :last-child {
			position: absolute;
			left: $gap2;

			svg {
				margin-right: 3px;
				fill: #fff;
				stroke: green;
			}
		}
	}

	.editor-tabs {
		display: flex;
		gap: $gap;
		width: 100%;

		.components-tab-panel__tabs {
			text-align: left;
			flex: 1 0 150px;

			.components-tab-panel__tabs-item {
				&.is-active {
					background-color: #f0f0f0;
				}
			}
		}

		.components-tab-panel__tab-content {
			flex: 3 1 100%;
			// max-width: calc(100% - 160px);
			// overflow-x: hidden;
		}
	}

	.components-base-control {
		margin-bottom: $gap;

		&:last-child {
			margin-bottom: 0;
		}

		&.is-large {
			.components-text-control__input {
				padding: 1em;
			}
		}

		.is-large {
			.components-select-control__input {
				padding: 1em;
				font-size: 13px;
				line-height: normal;
				min-height: 30px;
				height: auto;
			}
		}
	}

	.components-base-control__label,
	.components-input-control__label,
	.components-toggle-control__label,
	.components-checkbox-control__label {
		text-transform: none !important;
		font-weight: 500 !important;
		font-size: 13px !important;
	}

	.components-radio-button-control {
		.options {
			max-width: 500px;
			gap: $gap;
		}

		.components-button {
			flex: 1 1 0%;
			height: auto;
			box-sizing: border-box;
			padding: $gap 0;
			font-style: normal;
			font-weight: 600;
			font-size: 13px;
			line-height: 140%;

			&.is-primary {
				color: #007cba;
				background: rgba(0, 124, 186, 0.05);

				&:not(:disabled) {
					&:focus {
						box-shadow:
							inset 0 0 0 2px #007cba,
							0 0 0 var(--wp-admin-border-width-focus) var(--wp-admin-theme-color);
						outline: 3px solid #0000;
					}

					&:not(:focus) {
						box-shadow: inset 0 0 0 2px #007cba;
					}
				}
			}

			&.is-secondary {
				color: #757575;
				background: #fff;

				&:not(:disabled) {
					&:focus {
						box-shadow:
							inset 0 0 0 2px #fff,
							0 0 0 var(--wp-admin-border-width-focus) var(--wp-admin-theme-color);
						outline: 3px solid #0000;
					}

					&:not(:focus) {
						box-shadow: inset 0 0 0 2px #dddddd;
					}
				}
			}
		}
	}

	.components-url-input {
		.url-input__input {
			min-height: 40px;
		}
	}

	.general-tab {
		.title-field {
			.components-text-control__input {
				height: auto;
				border-color: #eee;
				padding-left: 5px;
				font-size: 1.8em;
				line-height: 1;
				margin-bottom: 1px;
			}

			.components-base-control__field {
				margin-bottom: 0;
			}
		}

		.title-field-notice {
			margin-bottom: $gap2;
			margin-top: -$gap2;
			margin-left: 0;
			line-height: 1;

			.components-notice__content {
				padding: 0;
			}
		}

		.description-field {

			.components-text-control__input,
			.components-textarea-control__input {
				height: auto;
				border-color: #eee;
				font-size: 0.9em;
				resize: none;
				min-height: auto;
			}
		}

		.components-url-control .url-control-wrapper .url-control {
			.url-control__input {
				min-height: 40px;
			}

			.url-control__actions {
				right: 6px;
				top: 6px;
			}
		}

	}

	.call-to-action-editor-error {
		margin: -5px 0 10px 0;
	}

	.editor-tabs {
		.components-tab-panel__tabs {
			.components-tab-panel__tabs-item {
				&.error {
					background-color: #f4a2a2;
					border-left: 4px solid #cc1818;
				}
			}
		}
	}
}

.editor-header-actions {
	display: flex;
	flex-direction: row;
	gap: 6px;
	align-items: center;
	justify-content: space-between;
	max-width: max-content;

	.components-button.close-button {
		padding: 0;
		min-width: auto;
	}

	.editor-header-options {
		.components-button.popover-toggle {
			padding-left: 4px;
			padding-right: 4px;
			min-width: auto;
		}
	}
}

.editor-header-options__popover {
	.components-popover__content {
		min-width: fit-content;
	}
}