.pum-tabs-container
{
    position: relative;
}
.pum-tabs-container ul.tabs
{
    margin: 0;
}
.pum-tabs-container ul.tabs .tab
{
    font-size: 1.2em;
}
.pum-tabs-container ul.tabs .tab a
{
    display: block;

    padding: 8px 16px;

    text-decoration: none; 

    border: 0;
}
.pum-tabs-container ul.tabs .tab a:focus
{
    box-shadow: none;
}
.pum-tabs-container .tab-content
{
    display: none;

    padding: 16px;
}
.pum-tabs-container .tab-content.active
{
    display: block;
}
.pum-tabs-container .tab-content .form-table
{
    display: block;
}
.pum-tabs-container .tab-content .form-table:first-child
{
    margin-top: 0;
}
.pum-tabs-container.vertical-tabs
{
    width: calc(100% - 150px); 
    min-height: 100px;
    padding-left: 150px;
}
.pum-tabs-container.vertical-tabs ul.tabs
{
    position: absolute;
    top: 0;
    left: 0;

    display: block;

    width: 140px;
    min-height: 100%;
    margin: 0;

    border-top: 0;
    border-right: 1px solid #dfdfdf; 
    background: #fcfcfc;
}
.pum-tabs-container.vertical-tabs ul.tabs .tab
{
    display: block;

    margin: 0;

    border-bottom: 1px solid #eee;
}
.pum-tabs-container.vertical-tabs ul.tabs .tab a
{
    color: #000;
}
.pum-tabs-container.vertical-tabs ul.tabs .tab:hover
{
    background-color: #0073aa;
}
.pum-tabs-container.vertical-tabs ul.tabs .tab.active
{
    background-color: #32373c;
}
.pum-tabs-container.vertical-tabs ul.tabs .tab.active a
{
    color: #fff;
}
.pum-tabs-container.vertical-tabs ul.tabs .tab:first-child
{
    margin-top: 8px;
}

.pum-modal-background
{
    position: fixed;
    z-index: 100100;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    display: none;
    overflow-y: scroll; 

    width: 100%;
    height: 100%;

    background: rgba(0, 0, 0, .7);
}
.pum-modal-background,
.pum-modal-background:before,
.pum-modal-background:after,
.pum-modal-background *,
.pum-modal-background *:before,
.pum-modal-background *:after
{
    /* Safari/Chrome, other WebKit */
    /* Firefox, other Gecko */
    box-sizing: border-box;
}
.pum-modal-background .pum-modal-wrap
{
    position: absolute;
    z-index: 100105;
    top: 60px;
    left: 50%;

    width: 550px;
    margin-bottom: 60px;
    margin-left: -300px;

    transition: height .2s, margin-top .2s; 

    background-color: #fff;
    box-shadow: 0 3px 6px rgba(0, 0, 0, .3);
}
@media screen and (max-width: 520px)
{
    .pum-modal-background .pum-modal-wrap
    {
        top: 10px;
        right: 10px;
        bottom: 10px;
        left: 10px; 

        width: auto;
        margin-left: 0;
    }
}
.pum-modal-background .pum-modal-header
{
    font-size: 18px;
    font-weight: 600;
    line-height: 36px;

    position: absolute;
    top: 0;
    right: 0;
    left: 0;

    height: 36px;
    padding: 0 36px 0 16px;

    border-bottom: 1px solid #dfdfdf; 
    background: #fcfcfc;
}
.pum-modal-background .pum-modal-header .pum-modal-close
{
    position: absolute;
    top: 0;
    right: 0;

    width: 36px;
    height: 36px;
    padding: 0;

    cursor: pointer; 
    text-align: center;

    color: #666;
    border: none;
    background: 0 0;
}
.pum-modal-background .pum-modal-header .pum-modal-close::before
{
    font: 400 20px/36px dashicons;

    width: 36px;
    height: 36px;

    content: '\f158'; 
    vertical-align: top;

    speak: none;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.pum-modal-background .pum-modal-content
{
    padding: 36px 16px 44px;
}
.pum-modal-background .pum-modal-content div.error
{
    margin: 0 0 10px;
}
.pum-modal-background .pum-modal-content p
{
    margin-top: 0;
}
.pum-modal-background .pum-modal-content textarea
{
    width: 100%;
}
@media screen and (max-width: 782px)
{
    .pum-modal-background .pum-modal-content
    {
        padding: 50px 16px 60px;
    }
}
.pum-modal-background .pum-modal-footer
{
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;

    padding: 8px 16px;

    border-top: 1px solid #dfdfdf; 
    background: #fcfcfc;
}
.pum-modal-background .pum-modal-footer .cancel
{
    line-height: 25px;

    float: left;
}
.pum-modal-background .pum-modal-footer .cancel .submitdelete
{
    padding: 1px 2px; 

    text-decoration: none;
}
@media screen and (max-width: 782px)
{
    .pum-modal-background .pum-modal-footer .cancel
    {
        line-height: 32px;
    }
}
.pum-modal-background .pum-modal-footer .pum-submit
{
    line-height: 23px;

    float: right;
}
.pum-modal-background .pum-modal-footer .pum-submit button
{
    float: right;

    margin-bottom: 0;
}
.pum-modal-background .pum-modal-footer .pum-submit .spinner
{
    float: left;

    vertical-align: middle;
}
.pum-modal-background.tabbed-content .pum-modal-content
{
    padding-right: 0; 
    padding-left: 0;
}

/* jQuery select2 Styles for Popup Maker.
The bulk of this is to style jquery select2 to better resemble the default WP dashboard inputs.
*/
.pum-select2
{
    position: relative;
}
.pum-select2 .select2-container .select2-selection
{
    font-size: 14px;

    margin: 1px;

    transition: .05s border-color ease-in-out; 

    border-color: #ddd;
    border-radius: 0;
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, .07);
}
.pum-select2 .select2-container.select2-container--focus .select2-selection
{
    border-color: #5b9dd9;
    outline: none;
    box-shadow: 0 0 2px rgba(30, 140, 190, .8);
}
.pum-select2 .select2-container .select2-selection--multiple
{
    font-size: 12px; 
    line-height: 16px;

    overflow-y: auto;

    min-height: 28px;
    max-height: 150px;
}
.pum-select2 .select2-container .select2-selection--multiple .select2-selection__clear
{
    margin-right: 3px;
}
.pum-select2 .select2-container .select2-selection--multiple .select2-search--inline
{
    margin: 0;
}
.pum-select2 .select2-container .select2-selection--multiple .select2-search--inline .select2-search__field
{
    min-width: 5em; 
    padding: 3px 5px 0;

    border-color: #ddd;
}
.pum-select2 .select2-container .select2-selection--multiple .select2-selection__choice
{
    margin-top: 4px;
    margin-bottom: 0;
}
.pum-select2 .select2-container .select2-dropdown
{
    position: relative; 

    max-width: calc(100% - 4px);
    margin: 0 1px;

    border-color: #ddd;
    box-shadow: 0 1px 2px rgba(0, 0, 0, .07);
}
.pum-select2 .select2-container .select2-dropdown .select2-search__field
{
    min-width: 5em; 
    padding: 3px 5px;

    border-color: #ddd;
}
.pum-select2 .select2-container .select2-dropdown .select2-results .select2-results__option
{
    margin: 0; 
    padding: 3px 6px;
}
.pum-select2 .select2-container .select2-dropdown .select2-results .select2-results__option[role=group]
{
    padding: 3px 0 0;
}
.pum-select2 .select2-container .select2-dropdown .select2-results .select2-results__option[role=group] .select2-results__group
{
    padding: 0 6px;
}
.pum-select2 .select2-container .select2-dropdown .select2-results .select2-results__options--nested
{
    padding: 3px 6px 0;
}
.pum-select2 .select2-container .select2-dropdown .select2-results .select2-results__option--highlighted
{
    background: #3e86d0;
}

.no-button
{
    padding: 0;

    cursor: pointer; 

    border: 0;
    background: none;
}
.no-button.link-button
{
    text-decoration: underline; 

    color: #0073aa;
}

i.mce-i-pum_shortcodes
{
    background: url('../images/admin/popup-maker-icon.png') no-repeat center center transparent;
    background-size: contain;
}
