.pum-overlay
{
    position: fixed;
    z-index: 1999999999;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    display: none;
    overflow: auto;

    width: 100%;
    height: 100%;
    /**
  * Use border-box for all popup content. Providing more precise sizing.
  */
}
.pum-overlay,
.pum-overlay:before,
.pum-overlay:after,
.pum-overlay *,
.pum-overlay *:before,
.pum-overlay *:after
{
    /* Safari/Chrome, other WebKit */
    /* Firefox, other Gecko */
    box-sizing: border-box;
}
.pum-overlay .pum-container
{
    position: absolute;
    top: 100px;

    margin-bottom: 3em;
}
.pum-overlay .pum-container.pum-responsive
{
    left: 50%;

    overflow: visible; 

    width: 95%;
    height: auto;
    margin-left: -47.5%;
}
.pum-overlay .pum-container.pum-responsive img
{
    max-width: 100%;
    height: auto;
}
@media only screen and (min-width: 1024px)
{
    .pum-overlay .pum-container.pum-responsive.pum-responsive-nano
    {
        width: 10%; 
        margin-left: -5%;
    }
    .pum-overlay .pum-container.pum-responsive.pum-responsive-micro
    {
        width: 20%; 
        margin-left: -10%;
    }
    .pum-overlay .pum-container.pum-responsive.pum-responsive-tiny
    {
        width: 30%; 
        margin-left: -15%;
    }
    .pum-overlay .pum-container.pum-responsive.pum-responsive-small
    {
        width: 40%; 
        margin-left: -20%;
    }
    .pum-overlay .pum-container.pum-responsive.pum-responsive-medium
    {
        width: 60%; 
        margin-left: -30%;
    }
    .pum-overlay .pum-container.pum-responsive.pum-responsive-normal
    {
        width: 70%; 
        margin-left: -30%;
    }
    .pum-overlay .pum-container.pum-responsive.pum-responsive-large
    {
        width: 80%; 
        margin-left: -35%;
    }
    .pum-overlay .pum-container.pum-responsive.pum-responsive-xlarge
    {
        width: 95%; 
        margin-left: -47.5%;
    }
    .pum-overlay .pum-container.pum-responsive.pum-position-fixed
    {
        position: fixed;
    }
}
@media only screen and (max-width: 1024px)
{
    .pum-overlay .pum-container.pum-responsive.pum-position-fixed
    {
        position: absolute;
    }
}
.pum-overlay .pum-container.custom-position
{
    top: auto;
    left: auto;

    margin-left: inherit;
}
.pum-overlay .pum-container .pum-content > :last-child
{
    margin-bottom: 0;
}
.pum-overlay .pum-container.pum-scrollable .pum-content
{
    overflow: auto;
    overflow-y: scroll;

    max-height: 95%;
}
.pum-overlay .pum-container .pum-close
{
    line-height: 1;

    position: absolute;

    min-width: 1em; 

    cursor: pointer;
    text-align: center;
    text-decoration: none;
}

html.pum-open
{
    overflow: hidden;
}
html.pum-open .pum-overlay.pum-active
{
    overflow-y: scroll;
}

.pum-container iframe.formidable
{
    overflow: visible; 

    width: 100%;
}

body div#ui-datepicker-div[style]
{
    z-index: 9999999999 !important;
}

.powered-by-popmake
{
    position: absolute;
    bottom: -28px;
    left: 0;

    display: block;

    width: 100%; 
    margin: 0 auto;

    text-align: center;
}
.powered-by-popmake > a
{
    display: inline-block;

    max-width: 205px;
}
.powered-by-popmake img
{
    width: 100%; 
    max-width: 100%;
}
.powered-by-popmake.small
{
    bottom: -22px;
}
.powered-by-popmake.small > a
{
    max-width: 125px;
}
.powered-by-popmake.large
{
    bottom: -30px;
}
.powered-by-popmake.large > a
{
    max-width: 285px;
}
