@import "~@wordpress/base-styles/breakpoints";
@import "~@wordpress/base-styles/variables";
@import "~@wordpress/base-styles/mixins";
// @import "~@wordpress/base-styles/breakpoints";
// @import "~@wordpress/base-styles/animations";
// @import "~@wordpress/base-styles/z-index";

// Link input
$input-padding: 8px;
$input-size: 300px;

//.block-editor-popup-select-input,
.components-popover .block-editor-popup-select-input {
	flex-grow: 1;
	position: relative;
	padding: 1px;

	.components-base-control__field {
		margin-bottom: 0;
	}

	input[type="text"],
	select {
		width: 100%;

		@include break-small() {
			width: $input-size;
		}
		border: none;
		border-radius: 0;

		/* Fonts smaller than 16px causes mobile safari to zoom. */
		font-size: $mobile-text-min-font-size;

		@include break-small {
			font-size: $default-font-size;
		}

		&::-ms-clear {
			display: none;
		}
	}
}
