.pum-popup-conditions {

  .pum-alert-box {
  }

  .facet-builder {

    a {
      text-decoration: none;
    }

    .facet-groups {

      display: none;

      .facet-group-wrap {

        .facet-group {
          box-shadow: 0 1px 0 #ccc;
          color: #555;
          border: 1px solid #ccc;
          background: #f7f7f7;
        }

        &:last-child .and,
        .add-or {
          em,
          a,
          button {
            color: #0073aa;
            cursor: pointer;

            &::before {
              content: "+ ";
            }

          }

        }

      }

    }

    .facet-list {
    }

    .facet {
      position: relative;
      padding: 12px 30px 6px 10px;
      border-bottom: 1px solid #E7E7E7;
      border-top: 1px solid #fff;

      &:first-child {
        border-top: 0;

        .or {
          display: none;
        }
      }

      &::before,
      &::after {
        display: table;
        content: "";
        line-height: 0;
      }

      &::after {
        clear: both;
      }

    }

    .facet-col {
      float: left;
      margin-right: 20px;
      padding-bottom: 6px;
      position: relative;
      min-width: 175px;

      select,
      input {
        margin: 0;
        max-width: 100%;
      }
    }

    .pum-condition-target {

      position: relative;
      max-width: 240px;

      #postbox-container-1 & {
        max-width: 100%;
      }

      * {
        box-sizing: border-box;
      }

      select,
      .pumselect2-container .pumselect2-selection {
        padding-left: 28px;

        // Rendered Option
        .pumselect2-selection__rendered {
          padding-left: 3px;
        }

      }

      .pum-not-operand {
        cursor: pointer;
        position: absolute;
        left: 2px;
        top: 2px;
        z-index: 10;
        width: 23px;
        line-height: 24px;
        height: 25px;

        padding: 0;
        background: #f7f7f7;
        border: 1px solid transparent;
        border-radius: 2px 0 0 2px;
        border-right: 1px solid #ddd;
        text-align: center;

        &::before {
          color: #555;
          font-size: 16px;
          line-height: 24px;
        }

        input[type="checkbox"] {
          display: none;
        }

        &:focus {
          outline: none;
          border: 1px solid #5b9dd9;
          box-shadow: 0 0 2px rgba(30, 140, 190, 0.8);
        }

      }

      &.not-operand-checked {

        .pum-not-operand {
          &::before {
            color: #a00;

          }
        }
      }

      .pumselect2-container-active {
        .pumselect2-choices,
        .pumselect2-single {
          border-color: #5b9dd9;
          box-shadow: 0 0 2px rgba(30, 140, 190, 0.8);
        }
      }

    }

    .facet-actions {
      position: absolute;
      right: 6px;
      top: 18px;

      button {
        border: 0;
        padding: 0;
        background: none;
        margin-left: 5px;
      }
    }

    .dashicons-plus-alt,
    .dashicons-dismiss {
      color: #999;
    }

    /* + AND + OR link stylings */
    .or {
      color: #484848;
      font-weight: 500;
      margin-left: -21px;
      left: 50%;
      position: absolute;
      top: -6px;
      font-style: normal;
      line-height: 10px;
      text-transform: uppercase;
    }

    .add-or {
      border-top: 1px solid #fff;
      text-align: center;

      > .add {
        left: -6.5px;
        position: relative;
        top: -9px;
      }
    }

    .and {
      border-bottom: 1px dashed #e1e1e1;
      margin: .5em 0 1.7em;
      text-align: center;
    }

    .or,
    .add-or > .add {
      background: #f7f7f7;
      font-size: 1.1em;
      padding: 0 10px;
    }

    .and, .add-or {
      em,
      a,
      button,
      label {
        background: #fff;
        font-size: 1.1em;
        font-style: normal;
        margin: 0 10px;
        padding: 0 10px;
        position: relative;
        top: 9px;
        text-transform: uppercase;
        box-shadow: none;
        color: #484848;
        cursor: default;
        border: 0;

      }

      em {
        color: #484848;
      }
    }

  }

  /* Conditionals */
  .has-conditions {

    .facet-groups {
      display: block;
    }

    .no-facet-groups {
      display: none;
    }

  }

  .pum-select2 {
    select {
      width: 100%;
    }
  }

}

#side-sortables {

  .pum-popup-conditions .facet-builder .facet-col {
    width: 100%;
    float: none;
    max-width: none;
  }
  .pum-popup-conditions .facet-builder .facet-actions {
    right: 6px;
    top: 18px;
  }

  .pumselect2-container {
    width: 100% !important;
  }
}