.pum-field-heading {
  label {
    display: none !important;
  }

  h3 + .pum-desc {
    margin-top: -1em !important;
  }
}

.pum-field-checkbox {
  label {
    display: block;
    font-size: 1.1em;
  }
}

.pum-field-multicheck,
.pum-field-radio {
  margin: 0 0 1em;

  label:first-child {
    display: block;
  }
}
