/* jQuery Chosen Styles for Popup Maker.
The bulk of this is to style jquery chosen to better resemble the default WP dashboard inputs.
*/
.pum-chosen {
  .chosen-container {
    .chosen-single,
    .chosen-choices {
      background: #fff;
      color: #32373c;
      outline: none;
      border: 1px solid #ddd;
      border-radius: 0;
      box-shadow: none;
      transition: 0.05s border-color ease-in-out;
      padding: 3px 5px;
      margin: 1px;
    }
    .chosen-single {
      height: auto;
      span {
        font-size: 100%;
        line-height: normal;
      }
    }
    .chosen-choices {
      line-height: normal;
      overflow-y: auto;
      max-height: 150px;
      .search-choice {
        font-size: 11px;
        line-height: normal;
        padding: 1px 20px 2px 5px;
        margin: 2px;
      }
      .search-field input {
        min-width: 500%;
      }
    }
  }
  // Reset dropdown results to more resemble standard select boxes.
  .chosen-results {
    font-size: 13px;
    li {
      padding: 3px 6px;
    }
    li.group-option {
      padding-left: 10px;
    }
    li.highlighted {
      background: #3e86d0;
    }
  }
  // Focus & Active Style field highlighting.
  .chosen-container-active {
    .chosen-choices,
    .chosen-single {
      border-color: #5b9dd9;
      box-shadow: 0 0 2px rgba(30, 140, 190, 0.8);
    }
  }
}