/* UI */
h3.title {
    font-size: 16px !important;
    color: #9aba27;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.125);
}

#popuptitlediv #popuptitle {
    background-color: #fff;
    font-size: 1.5em;
    height: 1.8em;
    line-height: 100%;
    margin: 0;
    outline: medium none;
    padding: 2px 8px;
    width: 100%;
}

#popuptitlediv #popuptitle input {
    color: #777;
    font-size: 1.7em;
    padding: 11px 10px;
    position: absolute;
}

#popuptitlediv #popuptitle-prompt-text {
    font-size: 1.4em;
    padding: 8px 10px;
}

#titlediv #title {
    margin: 0 0 1em;
    height: 40px !important;
}

.posttypediv, .taxonomydiv {
    margin-bottom: 10px;
    clear: both;
    overflow: auto;
}

#major-publishing-actions {
    text-align: right;
}

#trigger-popmake-preview {
    padding: 5px;
}

/*

input[type="text"], select {
    font-size: 13px;
    margin: 0;
	height: 30px!important;
    line-height: 28px!important;
    padding: 0 6px 2px!important;
    box-shadow: 0 1px 0 rgb(255, 255, 255) inset, 0 1px 0 rgba(0, 0, 0, 0.08);
}
*/
input[type="range"] {
    vertical-align: middle;
}

input.popmake-range-manual {
    padding-right: 25px !important;
}

/*
input[type="text"], select {
    border-radius: 3px;
    border-style: solid;
    border-width: 1px;
    box-sizing: border-box;
    cursor: pointer;
    display: inline-block;
    font-size: 13px;
    margin: 0;
    text-decoration: none;
    white-space: nowrap;
	height: 30px!important;
    line-height: 28px!important;
    padding: 0 12px 2px!important;
    background: none repeat scroll 0 0 rgb(247, 247, 247)!important;
    border-color: rgb(204, 204, 204);
    box-shadow: 0 1px 0 rgb(255, 255, 255) inset, 0 1px 0 rgba(0, 0, 0, 0.08);
    color: rgb(85, 85, 85);
    vertical-align: top!important;
}
input[type="text"] {
    background-color: rgb(247, 247, 247)!important;
}
input[type="range"] {
	background: transparent!important;
	border:none!important;
	outline:0;
	box-shadow:none;
}

button.popmake-range-minus, button.popmake-range-plus {
	height:30px;
	width:30px;
	text-align: center;
}

*/
option.bold {
    font-weight: bold;
    font-size: 1.125em;
}

/* Range Slider Adjusters */
.popmake-range-manual {
    padding-right: 25px;
    text-align: right;
    width: 80px;
}

.range-value-unit {
    position: relative;
    display: inline-block;
    margin-left: -30px;
    margin-right: 10px;
    width: 20px;
    text-align: left;
}

/* Form Table Dividers */
.title-divider th {
    border-top: 1px solid #ccc;
    padding: 0;
}

.form-table td, .form-table tr {
    padding-top: 10px;
}

.title-divider .title {
    font-size: 1.125em;
    padding-left: 0 !important;
    padding-top: 20px !important;
    padding-bottom: 0 !important;
}

/* Marketing & Standouts */
/* Menu Highlight */
#menu-posts-popup ul.wp-submenu li:nth-child(0n+9) a {
    color: #9ABA27;
}

/* Upgrade Tips */
.popmake-upgrade-tip {
    color: #333;
    line-height: 2em !important;
}

div.popmake-upgrade-tip {
    margin-bottom: 15px;
    display: block;
    font-weight: bold;
}

.popmake-upgrade-tip img {
    float: left;
    margin-right: 15px;
}

/* Theme Builder */
#popmake_popup_theme_preview {
    z-index: 100;
}

#popmake_popup_theme_preview .inside {
    margin-top: 0;
    background: url(http://s.wordpress.com/mshots/v1/http://www.wordpress.org) no-repeat center top;
}

#popmake_popup_theme_preview .empreview {
    padding-top: 25px;
}

.example-popup, .example-popup:before, .example-popup:after,
.example-popup *, .example-popup *:before, .example-popup *:after {
    -moz-box-sizing: border-box;
}

.empreview .example-popup-overlay {
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.empreview .example-popup {
    display: block;
    position: relative;
    width: 95%;
    max-width: 400px;
    margin: 0 auto 25px;
    font-size: 16px;
    position: relative;
    z-index: 99;
}

.empreview .example-popup .close-popup {
    text-decoration: none;
    text-align: center;
    line-height: 1;
    position: absolute;
    font-weight: bold;
    cursor: pointer;
    min-width: 1em;
}

/* Sidebar */
.popmake-support-links {
    list-style: none;
}

.popmake-support-links li {
    margin-bottom: 10px;
}

.popmake-support-links a {
    color: #20252b;
    font-family: "Montserrat";
    font-size: 1.25em;
    text-transform: uppercase;
    text-decoration: none;
}

.popmake-support-links a span {
    margin-left: 10px;
}

.popmake-support-links a img {
    top: 6px;
    position: relative;
    min-width: 24px;
    max-width: 24px;
    min-height: 24px;
    max-height: 24px;
}

.button.rounded {
    box-shadow: none;
    border: 0;
    border-radius: 2px;
    padding-left: 18px;
    padding-right: 18px;
    -webkit-transition: -webkit-transform .5s;
    transition: transform .5s;
    margin-bottom: 10px;
}

.button.rounded:hover, .button.rounded:focus {
    -webkit-transform: scale(1.125);
    -ms-transform: scale(1.125);
    transform: scale(1.125);
}

#popmake_popup_support {
    margin-bottom: 10px;
}

#popmake_popup_share {
    background: transparent;
    border: 0;
    padding: 0;
    box-shadow: none;
}

#popmake_popup_share .handlediv {
    display: none;
}

#popmake_popup_share .hndle {
    display: none;
}

#popmake_popup_share .inside {
    margin: 0 0 20px;
    padding: 0;
}

.loveit-shareit {
    font-weight: 700 !important;
    font-size: 28px !important;
    color: #333;
    text-transform: uppercase;
}

.loveit-shareit span {
    color: #9ABA27;
}

.follow-box {
    text-align: center;
    padding: 14px 36px;
    background: #fff;
    border: 1px solid #e5e5e5;
}

.share-buttons {
    margin: 0 auto;
    width: 68%;
    display: block;
    clear: both;
}

.share-buttons li {
    text-align: center;
    width: 32%;
    display: inline-block;
    float: left;
    margin-right: 1%;
    margin-bottom: 0;
}

.share-buttons li:last-child {
    margin-right: 0;
}

#popmake-preview {
    position: fixed;
    z-index: 9999999 !important;
}

#popmake-overlay {
    z-index: 9999998 !important;
}

/* Extensions Page */
.extensions-available {
    display: block;
}

.extensions-available img {
    width: 100%;
    display: block;
    height: auto;
    max-width: 100%;
}

.extensions-available li {
    box-sizing: border-box;
    border: 1px solid #ccc;
    background: #fff;
    vertical-align: top;
    width: 280px;
    margin: 0 10px 20px;
    display: inline;
    float: left;
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.25);
}

.extensions-available h3 {
    text-align: center;
    font-size: 16px !important;
}

.extensions-available h3 a {
    color: inherit;
}

.extensions-available li > .action-links {
    margin: 0 10px;
    text-align: center;
    display: block;
}

.extensions-available .action-links .button {
    display: inline-block;
    margin-bottom: 10px;
    margin-top: 10px;
    padding: 7px 30px;
    font-weight: bold;
    height: auto;
    position: relative;
    -webkit-transition: -webkit-transform .5s;
    transition: transform .5s;
}

.extensions-available .action-links .button.install {
    background: #00a651;
}

.extensions-available p {
    margin: 10px;
    color: #717171;
    font-size: 14px;
    text-align: center;
    font-style: italic;
    min-height: 7.5em;
}

.extensions-available a {
    display: block;
    text-align: center;
    text-decoration: none;
}

@media only screen and (max-width: 360px) {
    .extensions-available li {
        display: block;
        margin: 0 0 10px;
        width: 100%;
    }
}

@media only screen and (min-width: 361px) and (max-width: 768px) {
    .extensions-available li {
        width: 320px;
    }
}

@media only screen and (min-width: 769px) and (max-width: 980px) {
    .extensions-available li {
        width: 240px;
    }
}
