name: CI - PHPUnit

on:
    push:
        branches: [ develop ]
    pull_request:
        branches: [ master, develop ]

jobs:
    build:

        runs-on: ubuntu-latest

        services:
            mysql:
                image: mysql:5.7
                env:
                    MYSQL_ROOT_PASSWORD: password
                    MYSQL_DATABASE: wordpress_test
                ports:
                    - 3306:3306
                options: --health-cmd="mysqladmin ping" --health-interval=10s --health-timeout=5s --health-retries=3

        steps:
            - name: Checkout
              uses: actions/checkout@v2

            - name: Setup PHP
              uses: shivammathur/setup-php@v2
              with:
                php-version: '7.4'
                extension-csv: mbstring, intl
                ini-values-csv: post_max_size=256M, short_open_tag=On
                coverage: xdebug

            - name: Validate composer.json and composer.lock
              run: composer validate

            - name: Install dependencies
              run: composer install --prefer-dist --no-progress --no-suggest

            - name: Drop WP database, if already exists
              run: mysqladmin -u root --password='password' --host=localhost --port=3306 --protocol=tcp --force drop wordpress_test

            - name: Install WordPress
              run: bash bin/install-wp-tests.sh wordpress_test root 'password' localhost:3306

            - name: Run test suite
              run: composer tests
