@import "~@wordpress/base-styles/mixins";
@import "~@wordpress/base-styles/variables";
@import "~@wordpress/base-styles/colors";

@mixin button-style__active() {
	outline: none;
	background-color: $white;
	color: $gray-900;
	box-shadow: inset 0 0 0 1px $gray-700, inset 0 0 0 2px $white;
}

/** Copied from @wordpress/block-editor/src/components/url-popover/style.scss */
.block-editor-popup-trigger-popover__additional-controls {
	border-top: $border-width solid $gray-600;
}

.block-editor-popup-trigger-popover__additional-controls > div[role="menu"] .components-icon-button:not(:disabled):not([aria-disabled="true"]):not(.is-default) > svg {
	box-shadow: none;
}

.block-editor-popup-trigger-popover__additional-controls div[role="menu"] > .components-icon-button {
	padding-left: 2px;
}

.block-editor-popup-trigger-popover .components-notice.is-dismissible {
	margin: 0;
	padding-right: 0;

	.components-notice__content {
		margin: 0;
	}
}

.block-editor-popup-trigger-popover__row {
	display: flex;
}

// Any children of the popover-row that are not the settings-toggle
// should take up as much space as possible.
.block-editor-popup-trigger-popover__row > :not(.block-editor-popup-trigger-popover__settings-toggle) {
	flex-grow: 1;
}

// Mimic toolbar component styles for the icons in this popover.
.block-editor-popup-trigger-popover .components-icon-button {
	padding: 3px;

	> svg {
		padding: 5px;
		border-radius: $radius-round;
		height: 30px;
		width: 30px;
	}

	&:not(:disabled):not([aria-disabled="true"]):not(.is-default):hover {
		box-shadow: none;

		> svg {
			@include button-style__active;
		}
	}

	&:not(:disabled):focus {
		box-shadow: none;

		> svg {
			@include block-toolbar-button-style__focus;
		}
	}
}

.block-editor-popup-trigger-popover__settings-toggle {
	flex-shrink: 0;

	// Add a left divider to the toggle button.
	border-radius: 0;
	border-left: $border-width solid $gray-600;
	margin-left: 1px;

	&[aria-expanded="true"] .dashicon {
		transform: rotate(180deg);
	}
}

.block-editor-popup-trigger-popover__settings {
	display: block;
	padding: $grid-unit-20;
	border-top: $border-width solid $gray-600;

	.components-base-control:last-child,
	.components-base-control:last-child .components-base-control__field {
		margin-bottom: 0;
	}
}

.block-editor-popup-trigger-popover__popup-editor,
.block-editor-popup-trigger-popover__popup-viewer {
	display: flex;
}

.block-editor-popup-trigger-popover__popup-viewer-text {
	margin: $grid-unit - $border-width;
	flex-grow: 1;
	flex-shrink: 1;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	min-width: 150px;
	max-width: 500px;

	&.has-invalid-link {
		color: $alert-red;
	}
}
